Repository rearc/pynamodb_single_table: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        additional_dependencies: [ 'click!=8.1.0' ]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.4.4'
    hooks:
      - id: ruff
        args: [ "--fix" ]

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [ toml ]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [ yaml ]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [ text ]
        stages: [ commit, push, manual ]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [ text ]
        stages: [ commit, push, manual ]

Update to extract class definitions from method, making intellisense actually work
  src/pynamodb_single_table/base.py
  tests/test_basics.py
Due: none

Messing with CI/CD
  .github/workflows/tests.yml
Due: check-yaml

Simplified req's and eliminated version conflict
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

CI/CD tweaks
  .github/workflows/tests.yml
Due: check-yaml

CI/CD tweaks
  tests/test_basics.py
Due: none

Type annotation tweaks
  src/pynamodb_single_table/base.py
Due: none

Type annotation tweaks
  tests/test_basics.py
Due: none

Full code coverage
  src/pynamodb_single_table/__main__.py
  src/pynamodb_single_table/base.py
  tests/test_basics.py
Due: none

CI/CD fixes so tests can finally pass (#14)
  .github/workflows/constraints.txt
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/pynamodb_single_table/__main__.py
  src/pynamodb_single_table/base.py
  tests/test_basics.py
Due: check-toml, check-yaml

Cleanup
  .pre-commit-config.yaml
  docs/conf.py
  docs/requirements.txt
  docs/usage.md
  noxfile.py
Due: check-yaml

Auto-approve dependabot PR's
  .github/workflows/approve_dependabot.yml
Due: check-yaml

Update all artifact actions
  .github/workflows/tests.yml
Due: check-yaml

Update readme. Added ability to delete record. Fixed bugs around version tracking.
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/pynamodb_single_table/__init__.py
  src/pynamodb_single_table/base.py
  tests/test_basics.py
Due: check-toml, check-yaml

Updated auto-release functionality
  .github/workflows/release.yml
Due: check-yaml

Bump version
  pyproject.toml
Due: check-toml

Auto release tweak
  .github/workflows/release.yml
Due: check-yaml

Version bump
  pyproject.toml
Due: check-toml

Tweaks
  .github/workflows/tests.yml
  README.md
  docs/requirements.txt
Due: check-yaml

Update links to real git repo
  CONTRIBUTING.md
  README.md
  docs/index.md
  pyproject.toml
Due: check-toml

Update links to real rtfd page
  README.md
Due: none
